<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages async="true" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="WebApi" path="api/*" verb="*" type="System.Web.Http.WebHost.HttpControllerHandler, System.Web.Http.WebHost" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
</configuration>

